html {
    background-color: pink;
    float: right;
}

h1 {font-style: italic;}

button {font-size: x-large;
        font-family: monospace;
        width: 400px;
        height: 100px;
        padding: 20px;
        margin: 50px;
    }

p {
    align-items: right;
    position: sticky;
    font-stretch: condensed;
    color: midnightblue;
    justify-content: right;
}

div {
    width: 50%;
  height: 50%;
  padding: 20px;
  border: 10px dotted rgb(18, 72, 206);
  margin: 50px;
}